# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Node (jika suatu saat menambahkan tooling build)
node_modules/
npm-debug.log*

# Deployment
.vercel/

# Local env files (jika ditambahkan nanti)
.env
.env.local
